@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: 0 !important;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0 !important;
}

.modal-content {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
}
.modal-content::-webkit-scrollbar {
    width: 0;
}
.modal-title{
    margin-left: 5px;
}

.ant-input-group {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    display: flex;
}
.ant-input-group-addon {
    position: relative;
    padding: 0 11px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: all 0.3s;
    line-height: 2.5;
}
.ant-input-group-addon {
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid #d9d9d9;
    border-right: none;
}
.labelFont{
    font-size: 14px;
    font-weight: 600;
}

.modal-body{
    background-color: rgb(183, 189, 194);
    font-family: "Roboto", sans-serif;

}
.modal-header{
    background-color: rgb(25, 47, 59);
    color: white;
}

.pop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(131, 131, 131, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.popMain{
    width: 600px;
}
.popHeader{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    background-color: rgb(25, 47, 59);
    color: white;
    padding-left: 15px;
    padding-block: 8px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.popContainer{
    background-color: rgb(245, 245, 245);
    border: 5px solid    rgb(25, 47, 59);
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    padding-left: 30px;
    padding-block: 10px;
    word-break: break-all;
    overflow-x: hidden;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0;
}
.popContainer::-webkit-scrollbar {
    width: 0;
}
.popCreateContainer{
    background-color: rgb(245, 245, 245);
    font-family: "Roboto", sans-serif;
    border: 5px solid    rgb(25, 47, 59);
    width: 100%;
    height: 80vh;
    overflow: scroll;
    padding-left: 5px;
    padding-block: 10px;
    word-break: break-all;
    overflow-x: hidden;
    padding-right: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.popCreateContainer::-webkit-scrollbar {
    width: 0;
}

/* .popMainvid{
    width: 900px;
} */
.popHeadervid{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    background-color: rgb(25, 47, 59);
    color: white;
    padding-left: 8px;
    padding-block: 8px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.popContainervid{
    background-color: rgb(245, 245, 245);
    border: 5px solid    rgb(25, 47, 59);
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow: scroll;
    padding-inline: 10px;
    padding-block: 10px;
    word-break: break-all;
    overflow-x: hidden;
    padding-right: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0;
}
.popContainervid::-webkit-scrollbar {
    width: 0;
}
